{
    "singleQuote": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 100,
    "proseWrap": "never",
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "endOfLine": "lf",
    "formatOnSave": true
}